.footer{
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li{
    margin: 0 1em;  
}

.socialList li:hover{
    color: #fb3;

}
.copyright{
    margin-top: 2em;
}
.copyright span{
    font-weight: bold;
    color: #fb3;
}